*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f8fbff;

    color:#0f172a;

    line-height:1.6;

}

h1,h2,h3,h4{

    color:#0f172a;

}

a{

    text-decoration:none;

}

.container{

    width:min(1200px,90%);

    margin:auto;

}

section{

    padding:80px 0;

}

.btn{

display:inline-block;

padding:15px 30px;

background:#2563eb;

color:white;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.btn:hover{

background:#1d4ed8;

}