---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/docs/Sidebar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title} | ReguDocs</title>
</head>

<body>

  <Navbar />

  <div class="docs">

    <Sidebar />

    <main class="content">
      <slot />
    </main>

  </div>



</body>
</html>

<style>

.docs{
  display:flex;
  background:#f8fbff;
  min-height:100vh;
}

.content{
  margin-left:260px;
  padding:50px;
  width:100%;
  max-width:1000px;
}

.content h1{
  font-size:48px;
  margin-bottom:20px;
  color:#0f172a;
}

.content h2{
  margin-top:40px;
  margin-bottom:15px;
  color:#1e293b;
}

.content p{
  line-height:1.8;
  color:#475569;
  font-size:18px;
}

.content ul{
  margin-top:15px;
  padding-left:20px;
}

.content li{
  margin-bottom:10px;
  font-size:18px;
  color:#475569;
}

@media(max-width:900px){

  .content{
    margin-left:0;
    padding:25px;
  }

}

</style>